/* Home.Module.css*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.home-wrapper {
    display: grid;
    width: 100vw;
    height: 100vh; /* This assumes you want the entire view height to be covered by the grid */
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: auto 1fr 1fr 1fr auto; /* This gives space for header, content, and footer */
    grid-template-areas:
      "header header  header"
      "friends    main-area events"
      "friends    main-area events"
      "groups     main-area events"
      "footer footer  footer";
    gap: 16px; /* Just for spacing between grid areas */
}

.homeHeader {
    grid-area: header;
    background-color: #eee;
    padding: 16px;
}

.groups {
    grid-area: groups;
    background-color: #ddd; /* Sample color */
    padding: 16px;
}

.friends {
    grid-area: friends;
    background-color: #ccc; /* Sample color */
    padding: 16px;
}

.main-area {
    grid-area: main-area;
    background-color: #bbb; /* Sample color */
    padding: 16px;
}

.events {
    grid-area: events;
    background-color: #aaa; /* Sample color */
    padding: 16px;
}

.footer {
    grid-area: footer;
    background-color: #eee; /* Sample color */
    padding: 16px;
}
