/* Base Styles */
.container {
  padding: 20px 15px 40px;
  font-family: Arial, sans-serif;
  margin-top: 20px;
}

/* Profile Styles */
.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 150px;
  width: 100%; /* Ensures full width */
  width: 650px; /* Ensures it doesn't exceed 500px on desktop */
  margin: 0 auto; /* Centers the block */
}

.profile-picture {
  margin-right: 20px;
}

.profile-picture img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.personal-info {
  flex-grow: 1;
  padding-left: 20px;
}

.name-and-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0px;
}

.stats {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.stat {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: none;
  border: none;
  font-size: 16px;
  font-family: sans-serif;
}

.stat p {
  margin: 0 0 10px;
}

/* Typography Styles */
.header-text {
  font-size: 24px;
  font-weight: bold;
  margin: 0px;
}

.username, .bio {
  font-size: 16px;
  margin: 5px 0;
}

.username {
  font-weight: bold;
}

/* Button Styles */
.button, .toggle-button {
  padding: 8px 12px;
  background-color: #a6a6a6;
  border: none;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
  margin-right: 20px;
  width: 250px;
}

.button:hover, .toggle-button:hover {
  background-color: #7a7a7a
}

.toggle-button {
  margin-left: 150px;
}

/* Table and Schedule Styles */
.table {
  width: 1200px;
  margin: 0 auto; 
  overflow-x: auto; 
}

.schedule {
  width: 1300px;
  margin: 0 auto; 
  overflow-x: auto; 
}
