.homeContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20%;
}

.title {
    color: #000;
    text-align: center;
    font-family: sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 250px;
    height: 56px;
    flex-shrink: 0;
}

.button {
    width: 174px;
    height: 35px;
    flex-shrink: 0;
    background: #D9D9D9;
    color: #000;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
}

.loading {
    font-family: sans-serif;
}